<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/image_read.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/test.css">
</head>
<body>
    <%= files %> <br>
    <% files.forEach (f=> {%>
        <img src="/file/download/<%= f%>" width="100px" height="100px">
        <a href="/file/download/<%= f%>"> <%= f %></a>
        <a href="/file/del/<%= f%>">삭제</a>
        <a href="/file/modify_form/<%= f%>">수정</a>
        <hr>
    <%})%>
    
</body>
</html>